.groupsTable {
    &__container {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        &__header {
            display: flex;
            height: 10%;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-bottom: 2rem;
            &__title {
                font-size: 2.4rem;
            }
            &__button {
                position: absolute;
                left: 0.5rem;
            }
        }
        &__table {
            &__title {
                height: 4rem;
                font-size: 1.5rem;
                display: flex;
                color: white;
                align-items: center;
                justify-content: center;
                background-color: blue;
                border-radius: 10px 10px 0 0;
            }

            &__container {
                flex-direction: row;
                border-radius: 1rem;
                height: 60%;
                width: 100%;
                margin: 0;
                padding: 0;

                &__headers {
                    // background-color: $color-primary;
                    height: 100%;
                    padding: 0;
                    margin: 0;
                    width: 24rem;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-between;
                     
                    border-radius: 10px 0 0 10px;
                    // border: 5px solid transparent;
                    &__cell {
                        padding: 0;
                        margin: 0;
                        color: black;
                        width: auto !important;
                        display: flex;

                        justify-content: center;
                        align-items: center;
                        font-size: 1.5rem;
                        font-weight: 400;
                    }
                }

                &__body {
                    flex-basis: content;
                    flex-direction: row;
                    background-color: white;
                    height: 100%;

                    &__row {
                        margin: 0;
                        box-shadow: none;
                        flex-direction: column;
                        height: 100%;
                        width: auto;
                        border-radius: 0;
                        justify-content: space-between;
                        width: 100%;

                        padding-top: 2rem;
                        padding-bottom: 1rem;
                        &__cell {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: auto !important;
                            background-color: transparent !important;
                            span {
                                font-size: 1.4rem;
                            }

                            // &.searched {
                            //     background-color: $color-value-searched !important;
                            // }
                        }

                        &:nth-child(even) {
                            background-color: white;
                        }
                        &:nth-child(odd) {
                            background-color: white;
                        }
                    }

                    & .noselect {
                        width: 100% !important;
                    }
                }
            }
        }
    }
}
