.matri__ {
    &container {
        display: flex;
        flex-direction: column;

        input {
            border: 1px solid $gray-bars;
            border-radius: 7px;
            padding: 5px;
            width: 100%;
            height: 20px;
            text-transform: uppercase;
            font-size: calc(7px + 0.5vw);
        }
    }
}
